A dating website's schema is represented by a table of people that like other people.
The table has three columns. One column is the user_id, another column is the liker_id which
is the user_id of the user doing the liking, and the last column is the date time that
the like occured.
Write a query to count the number of liker's likers (the users that like the likers)
if the liker has one.

Example:

TABLE: likes

columns	type
user_id	int
liker_id	int
created_at

user	liker
A	B
B	C
B	D
D	E


user	count
B	2
D	1

SELECT
    user,
    COUNT(liker)
FROM input
GROUP BY user
WHERE user IN (SELECT user)
    AND user IN (SELECT liker)

SELECT
    user,
    liker,
    count(user)
FROM input
GROUP BY user
WHERE user IN liker

---

This question was asked by Facebook.

TABLE: USERS

columns	type
id	int
name	varchar
joined_at	datetime
city_id	int
device	int

TABLE: USER_COMMENTS

columns	type
user_id	int
body	text
created_at	datetime
Write a SQL query to create a histogram of number of comments per user in the month of January 2019. Assume bin buckets class intervals of one.

SELECT
    user_id,
    count(*)
FROM USER_COMMENTS
WHERE created_at 
GROUP BY user_id

In [ ]:
user comment
user comment
user comment

In [ ]:
user_id   count of comments
user1     25
user2     20
user3     15

In [ ]:
date count_of_comments
1-1   1
1-10  4
1-14  5
1-15  6
1-16  5
1-25  2